:root
{
    --aside-width: 230px;
    --column-count: 1; /* Set in main.js */
    --header-font-size: 32pt;
    --header-height: 64px;
    --header-padding: 0.25em;
    --row-count: 1; /* Set in main.js */
}

*
{
    box-sizing: border-box;
}

body
{
    background-color: #f80;
    font-family: "Imperial Sans Display";
}

header
{
    background-color: #80f;
    font-size: var(--header-font-size);
    font-weight: bold;
    height: var(--header-height);
    left: 0px;
    padding-top: var(--header-padding);
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
}

aside
{
    background-color: #0f8;
    height: calc(100% -  var(--header-height));
    left: 0px;
    position: absolute;
    top: var(--header-height);
    width: var(--aside-width);
}

main
{
    background-color: #f08;
    height: calc(100% -  var(--header-height));
    left: var(--aside-width);
    position: absolute;
    top: var(--header-height);
    width: calc(100% - var(--aside-width));
}

#grid-container
{
    aspect-ratio: var(--column-count) / var(--row-count);
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
}

table
{
    aspect-ratio: var(--column-count) / var(--row-count);
    border-collapse: collapse;
    width: 100%;
}

td
{
    background-color: #08f;
    border: 1px solid white;
    color: white;
    height: calc(100% / var(--row-count));
    text-align: center;
    width: calc(100% / var(--column-count));
}

.on
{
    background: lime;
}

.off
{
    background: midnightblue;
}